$white: #fff;
$black: #000;
$color-1: #f26522;
$color-2: #30302e;
$color-3: #262626;
$color-4: #252525;
$color-5: #2b2a29;
$color-6: #495057;
$color-7: #111;
$shadow: #f0f0f0;
$disabled: #d7d7d7;
$success: rgb(67, 145, 67);
$alert: rgb(252, 55, 55);
$warning: rgb(65, 77, 242);
$registered: rgb(65, 77, 242);
$purple: #fce700;
$sent: #f26522;
$completed: rgb(67, 145, 67);
